* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff; /* Set default text color to white */
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(48, 46, 46, 0.7), rgba(34, 34, 34, 0.7)), url(images/Cape\ Verde\ beach_.jpg); /* Black background gradient */
  background-position: center;
  background-size: cover;
  position: relative; /* Fixed positioning for sticking to top */
  top: 0; /* Ensure it starts at the top of the viewport */
  left: 0; /* Ensure it starts at the left of the viewport */
  z-index: 999; /* High z-index to ensure it stays on top of other content */
}


.arrow {
  position: absolute;
  max-width: 89px;

  top: 5%; /* Adjust vertically as needed */
  right: 15px; /* Adjust right position as needed */
  transform: translateY(-50%); /* Center vertically */
  display: none; /* Hide by default */

 }
 
 @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px){ /* Show on smaller screens */
  .arrow {
     display: block;
     max-width: 480rem;
  }
 }

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(14, 13, 13, 0.7); /* Semi-transparent black background for nav */
}

nav img {
  width: 170px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #fdb813; /* Yellow accent color */
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fdb813; /* Yellow text color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  background-image: linear-gradient(to right, #fff, #fdb813); /* White to yellow gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 17px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff; /* White border */
  padding: 18px 50px; /* Increase padding for larger size */
  font-size: 16px; /* Increase font size */
  background: transparent; /* Transparent background */
  border-radius: 10px; /* Curved edges */
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease; /* Add a smooth transition */
}

.hero-btn:hover {
  border: 1px solid #fdb813; /* Yellow border on hover */
  background-image: linear-gradient(to right, #292828, #fdb813); /* Black to yellow gradient on hover */
}


nav.fa{
  display: none;
}



@media (max-width: 700px) {
  .text-box h1{
    font-size: 25px;
  }
  .text-box p {

    font-size: 10px;
  }
  .nav-links ul li{
    display: block;
  }
  .nav-links{
    position: absolute;
    background: #fdb813;
    height:100%;
    width: 200px;
    top:0;
    right: 0;
    text-align: left;
    z-index:2;
  }
  .nav-links ul{
    padding-left: 30px;
    padding-top: 65px;
  }
  nav.fa{
    display: block;
    color: black;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
  }
  .nav-links {
    transform: translateX(100%); /* Initially move the menu off-screen */
  }
  
  .nav-active {
    transform: translateX(0%); /* Move the menu into view when active */
  }
  
  /* Add transparency to the menu background */
  .nav-links {
    background: rgba(253, 184, 19, 0.8); /* Adjust the alpha value for desired transparency */
  }
    nav i.fas.fa-bars {
    display: block;
    color: black;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  
  

}



/*-------HOW DOES IT WORK------*/
.course{
  background-color: #423f3b;
  width:100%;
  margin:auto;
  text-align:center;
  padding-top: 100px;

}
.course p{
  color: rgb(255, 255, 255);
  font-weight: 390;
}
.course h1{
  color: rgb(255, 255, 255);
}
h1{
  font-size: 36px;
  font-weight: 600;

}
p{
  font-size: 15px;
  font-weight: 350;
  line-height: 22px;
  padding: 10px;
}


.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  padding-top: 50px;
}

.course-col h3 {
  color: whitesmoke;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col p {
  color: rgb(255, 255, 255);
  font-weight: 350;



}

.course-col {
  flex-basis: 31%;
  background-image: linear-gradient(to right, #fcb000, #3d3c3a);
  border-color: 2px black;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  overflow: hidden; /* Hide the paragraph initially */
  transition: transform 0.3s ease-in-out; /* Add a transition for animation */
}

.course-col:hover {
  box-shadow: 0 0 20px 0px black;
  transform: translateY(-10px); /* Slightly move up on hover */
}

.course-col:hover p {
  opacity: 1; /* Show the paragraph on hover */
  transform: translateY(0); /* Animate the paragraph in from the bottom */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


 @media(max-width:500px){
  .row{
    flex-direction: column;
  }
 }






/*---------aBout us*=-----------*/
.sub-header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(48, 46, 46, 0.7), rgba(34, 34, 34, 0.7)), url(images/Hotel\ Review_\ The\ Atlantis\ The\ Palm\ Dubai\ -\ voyagefox.jpg); /* Black background gradient */
  background-position: center;
  background-size: cover;
  position: relative; /* Fixed positioning for sticking to top */
  top: 0; /* Ensure it starts at the top of the viewport */
  left: 0; /* Ensure it starts at the left of the viewport */
  z-index: 999; /* High z-index to ensure it stays on top of other content */
}

.sub-header h1{
  margin-top: 100px;
  text-align: center;
  color: #fcb000;
}
.about-us{
  width: 80%;
  margin:auto;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-col{
  flex-basis: 48%;
  padding:30px 2px;

}
.about-col img{
  width:100%;
}
.about-col h1{
  padding-top: 0;
}
.about-col p{
  padding:  15px 0 25px;
}
footer {
  background-color: #f2f2f2; /* Light gray background */
  padding: 20px 0; /* Add padding to top and bottom */
  text-align: center; /* Center the content */
}

footer p {
  margin: 0; /* Remove default margin */
  font-size: 14px; /* Adjust font size */
  color: #666; /* Dark gray text color */
}




/*-------INEST NOW------*/
.course{
  background-image:url(images/Premium\ Photo\ _\ Stock\ market\ or\ forex\ trading\ graph\ \(1\)1.jpg);
  width:100%;
  margin:auto;
  text-align:center;
  padding-top: 100px;

}
.course p{
  color: rgb(255, 255, 255);
  font-weight: 390;
}
.course h1{
  color: rgb(255, 255, 255);
}
h1{
  font-size: 36px;
  font-weight: 600;

}
p{
  font-size: 15px;
  font-weight: 350;
  line-height: 22px;
  padding: 10px;
}


.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  padding-top: 50px;
}

.course-col h3 {
  color: whitesmoke;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col p {
  color: rgb(255, 255, 255);
  font-weight: 350;



}

.course-col {
  flex-basis: 31%;
  background-image: linear-gradient(to right, #fcb000, #3d3c3a);
  border-color: 2px black;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  overflow: hidden; /* Hide the paragraph initially */
  transition: transform 0.3s ease-in-out; /* Add a transition for animation */
}

.course-col:hover {
  box-shadow: 0 0 20px 0px black;
  transform: translateY(-10px); /* Slightly move up on hover */
}

.course-col:hover p {
  opacity: 1; /* Show the paragraph on hover */
  transform: translateY(0); /* Animate the paragraph in from the bottom */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


 @media(max-width:430px){
  .row{
    flex-direction: column;
  }
 }
 .header2{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(48, 46, 46, 0.7), rgba(34, 34, 34, 0.7)), url(images/abstract-glowing-big-data-forex-260nw-2119930133.jpg); /* Black background gradient */
  background-position: center;
  background-size: cover;
  position: relative; /* Fixed positioning for sticking to top */
  top: 0; /* Ensure it starts at the top of the viewport */
  left: 0; /* Ensure it starts at the left of the viewport */
  z-index: 999; /* High z-index to ensure it stays on top of other content */
}
.header2 h1{
  color:#fcb000;
  text-align: center;
  font-weight: 800;
  background-color: rgba(17, 17, 17, 0.85)
}
.about-us h2{
  text-align: center;
  color:#fcb000;
}
.about-us p{
  text-align: center;

}
